# Files and directories created by pub


# Remove the following pattern if you wish to check in your lock file

# Files created by dart2js

# Directory created by dartdoc
doc/api/

# JetBrains IDEs
.idea/
*.iml
*.ipr
*.iws
